<aside class="min-h-screen w-1/5 bg-blue-800 text-white">
  <div
    id="logo"
    class="flex items-center cursor-pointer font-medium border-b-2 border-slate-900"
  >
    <img
      src="https://free-url-shortener.rb.gy/url-shortener.png"
      alt="website logo"
      class="w-20"
    />
    <span>Url shortener</span>
  </div>
  <div id="navigation" class="mt-10 mx-5">
    <div
      class="py-2 px-4 my-5 cursor-pointer text-white lg:hover:bg-white lg:hover:text-blue-800 lg:transition-all lg:duration-150 lg:ease-in-out"
    >
      <p><a href="/admin">dashboard</a></p>
    </div>
    <div
      class="py-2 px-4 my-5 cursor-pointer text-white lg:hover:bg-white lg:hover:text-blue-800 lg:transition-all lg:duration-150 lg:ease-in-out"
    >
      <p><a href="/admin/users">User management</a></p>
    </div>
    <div
      class="py-2 px-4 my-5 cursor-pointer text-white lg:hover:bg-white lg:hover:text-blue-800 lg:transition-all lg:duration-150 lg:ease-in-out"
    >
      <p><a href="/admin/subscription">Subscription management</a></p>
    </div>
    <div
      class="py-2 px-4 my-5 cursor-pointer text-white lg:hover:bg-white lg:hover:text-blue-800 lg:transition-all lg:duration-150 lg:ease-in-out"
    >
      <p><a href="/admin/invoices">Invoices management</a></p>
    </div>
    <div
      class="py-2 px-4 my-5 cursor-pointer text-white lg:hover:bg-white lg:hover:text-blue-800 lg:transition-all lg:duration-150 lg:ease-in-out"
    >
      <p><a href="/admin/ursl">Url management</a></p>
    </div>
    <div
      class="py-2 px-4 my-5 cursor-pointer text-white lg:hover:bg-white lg:hover:text-blue-800 lg:transition-all lg:duration-150 lg:ease-in-out"
    >
      <p><a href="/admin/profile">Profile</a></p>
    </div>
  </div>
</aside>
