<footer
  class="w-full mt-auto gradient bg-gradient-to-tr from-blue-950 to-blue-900"
>
  <p class="text-center py-5 text-white text-2xl">© 2025 copyright</p>

  <ul
    class="w-[95vw] md:w-[50vw] mx-auto flex justify-center items-center text-center text-white"
  >
    <li class="mx-3 hover:text-slate-300 my-3"><a href="/home">home</a></li>
    <li class="mx-3 hover:text-slate-300 my-3">
      <a href="/our-plan">Check Our our-plan</a>
    </li>
    <li class="mx-3 hover:text-slate-300 my-3">
      <a href="/about-us">About us</a>
    </li>
    <li class="mx-3 hover:text-slate-300 my-3">
      <a href="/contact-us">Contact us</a>
    </li>
    <li class="mx-3 hover:text-slate-300 my-3"><a href="/me">Me</a></li>
  </ul>
</footer>
