<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title || "url shortener" %></title>

<!-- Font Awesome -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>

<!-- Your CSS -->
<link rel="stylesheet" href="/css/output.css" />
