<header class="bg-gradient-to-t from-blue-950 to-blue-900 text-white">
  <nav class="flex justify-between items-center relative">
    <div class="flex items-center cursor-pointer">
      <img
        class="w-20"
        src="https://free-url-shortener.rb.gy/url-shortener.png"
        alt=""
      />
      <span>Url shortner</span>
    </div>

    <div
      id="nav-link"
      class="md:static absolute left-0 top-full md:min-h-fit md:w-auto w-full bg-blue-950 md:bg-transparent hidden md:flex flex-col"
    >
      <ul class="flex md:flex-row flex-col items-center gap-5 my-8 md:my-3">
        <li><a href="/" class="hover:text-gray-300 cursor-pointer">Home</a></li>
        <li>
          <a href="/pricing" class="hover:text-gray-300 cursor-pointer"
            >our pricing</a
          >
        </li>
        <li>
          <a href="/about-us" class="hover:text-gray-300 cursor-pointer"
            >about us</a
          >
        </li>
        <li>
          <a href="/contact-us" class="hover:text-gray-300 cursor-pointer"
            >contact-us</a
          >
        </li>
      </ul>
    </div>

    <div class="flex gap-2 items-center">
      <a href="/register" class="hover:text-gray-300 cursor-pointer"
        >register</a
      >
      <a href="/login" class="hover:text-gray-300 cursor-pointer">login</a>
      <a href="/" id="logout" class="mr-5 hover:text-gray-300">logout</a>

      <ion-icon
        name="menu"
        class="md:hidden mr-3"
        onclick="onToggle(this)"
      ></ion-icon>
    </div>
  </nav>
</header>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const navLink = document.getElementById("nav-link");

  function onToggle(e) {
    e.name = e.name === "menu" ? "close" : "menu";
    navLink.classList.toggle("hidden");
  }
  document.getElementById("logout").addEventListener("click", async () => {
    try {
      const response = await axios.get("http://localhost:3000/logout", {
        withCredentials: true,
      });

      console.log(response.data.status);

      if (response.data.status === "success") {
        alert("logout successfull");
        window.location.href = "/login";
      }
    } catch (err) {
      alert(err.response.data.message);
      console.log(err.response.data.message);

      console.log(err.response);
    }
  });
</script>
