<header class="bg-gradient-to-t from-blue-950 to-blue-900 text-white relative">
  <nav class="flex justify-between items-center relative">
    <div>
      <a href="/" class="flex items-center cursor-pointer">
        <img
          class="w-20"
          src="https://free-url-shortener.rb.gy/url-shortener.png"
          alt="Logo of website"
        />
        <span> Url shortner</span>
      </a>
    </div>

    <div
      id="nav-link"
      class="md:static absolute left-0 top-full md:min-h-fit md:w-auto w-full bg-blue-950 md:bg-transparent hidden md:flex flex-col"
    >
      <ul class="flex md:flex-row flex-col items-center gap-5 my-8 md:my-3">
        <li><a href="/" class="hover:text-gray-300 cursor-pointer">Home</a></li>
        <li>
          <a href="/pricing" class="hover:text-gray-300 cursor-pointer"
            >our pricing</a
          >
        </li>
        <li>
          <a href="/contact-us" class="hover:text-gray-300 cursor-pointer"
            >contact-us</a
          >
        </li>
      </ul>
    </div>

    <div class="flex gap-2 items-center">
      <% if (isLoggedIn) { %>

      <div>
        <p id="profile" class="hover:text-gray-300 cursor-pointer">Profile</p>
      </div>

      <a href="/logout" id="logout" class="mr-5 hover:text-gray-300">Logout</a>

      <% } else { %>
      <a href="/register" class="hover:text-gray-300 cursor-pointer"
        >Register</a
      >
      <a href="/login" class="hover:text-gray-300 cursor-pointer mr-5">Login</a>
      <% } %>

      <ion-icon
        name="menu"
        class="md:hidden mr-3"
        onclick="onToggle(this)"
      ></ion-icon>
    </div>
  </nav>
  <div
    id="popupProfile"
    class="hidden mt-2 px-5 py-3 absolute right-10 top-full bg-blue-900 text-white rounded-sm"
  >
    <p>
      <a href="/dashboard" class="hover:text-blue-400 hover:underline"
        >Go to Dashboard</a
      >
    </p>
    <p>
      <a
        href="/dashboard/subscription"
        class="hover:text-blue-400 hover:underline"
        >Go to Subscription</a
      >
    </p>
    <p>
      <a
        href="/invoices/my-invoices"
        class="hover:text-blue-400 hover:underline"
        >Go to Invoice</a
      >
    </p>
    <p>
      <a href="/profile" class="hover:text-blue-400 hover:underline"
        >Go to Profile</a
      >
    </p>
  </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const navLink = document.getElementById("nav-link");

  const profileEle = document.getElementById("profile");
  const popupProfile = document.getElementById("popupProfile");

  profileEle.addEventListener("click", (e) => {
    popupProfile.classList.toggle("hidden");
  });

  function onToggle(e) {
    e.name = e.name === "menu" ? "close" : "menu";
    navLink.classList.toggle("hidden");
  }
</script>
