<nav
  class="h-25 gradient bg-gradient-to-tr from-blue-950 to-blue-900 text-white flex justify-between items-center gap-5 px-5"
>
  <!-- Logo menu -->
  <div class="md:block">
    <img src="#" alt="Website logo" />
  </div>

  <!-- Button for nav responsive -->
  <button id="menu-toggle" class="text-white md:hidden absolute right-5">
    ☰
  </button>

  <!-- Navigation menu -->
  <div
    id="menu"
    class="md:static md:min-h-fit absolute min-h-[30vh] left-0 top-[5%] w-full flex items-center justify-center"
  >
    <ul
      class="flex flex-col md:flex-row gap-5 justify-center items-center h-full"
    >
      <li class="cursor-pointer hover:text-slate-300"><a href="/">Home</a></li>
      <li class="cursor-pointer hover:text-slate-300">
        <a href="/pricing">pricing</a>
      </li>
      <li class="cursor-pointer hover:text-slate-300">
        <a href="/about-us">About us</a>
      </li>
      <li class="cursor-pointer hover:text-slate-300">
        <a href="/contact-us">Contact us</a>
      </li>
      <li class="cursor-pointer hover:text-slate-300">
        <a href="/me">About me</a>
      </li>
    </ul>
  </div>

  <!-- Authentication menu -->
  <div class="mr-10 flex gap-4">
    <button id="logout" class="hover:text-slate-300 cursor-pointer">
      Logout
    </button>
    <button class="hover:text-slate-300 cursor-pointer">
      <a href="/login">Login</a>
    </button>
    <button class="hover:text-slate-300 cursor-pointer">
      <a href="/register">Register</a>
    </button>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const menuToggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("menu");

  menuToggle.addEventListener("click", () => {
    if (window.innerWidth <= 767) {
      menu.classList.toggle("hidden");
    }
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth > 767) {
      menu.classList.remove("hidden");
    } else {
      menu.classList.add("hidden");
    }
  });

  document.getElementById("logout").addEventListener("click", async () => {
    try {
      const response = await axios.get("http://localhost:3000/auth/logout", {
        withCredentials: true,
      });

      console.log(response.data.status);

      if (response.data.status === "success") {
        alert("logout successfull");
        window.location.href = "/login";
      }
    } catch (err) {
      alert(err.response.data.message);
      console.log(err.response.data.message);

      console.log(err.response);
    }
  });
</script>
