<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>

  <body>
    <%# Include register page %> <%- include("../partials/navbar") %>

    <div id="popup">
      <% if (status === "success") { %>
      <div
        class="w-[95vw] md:w-[60vw] mx-auto mt-5 p-4 flex justify-between items-center bg-green-100 text-green-800 rounded-lg"
      >
        <p><%= message %></p>
        <p class="cursor-pointer dismiss-btn">X</p>
      </div>
      <% } else if(status === "error"){ %>
      <div
        class="w-[95vw] md:w-[60vw] mx-auto mt-5 p-4 flex justify-between items-center bg-red-100 text-red-800 rounded-lg"
      >
        <p><%= message %></p>
        <p class="cursor-pointer dismiss-btn">X</p>
      </div>
      <% } %>
    </div>

    <main
      class="mt-20 w-[95vw] md:w-[80vw] lg:w-[85vw] mx-auto flex flex-col lg:flex-row shadow inset-shadow-sm"
    >
      <div id="image" class="w-full lg:w-1/2 rounded-l-2xl overflow-hidden">
        <img
          src="http://localhost:3000/images/auth/login-image.avif"
          alt="some login image"
          class="w-full h-full object-cover"
        />
      </div>

      <div
        id="form"
        class="w-full lg:w-1/2 sm:h-full rounded-r-2xl overflow-hidden"
      >
        <form
          onsubmit="handleRegister(event)"
          method="post"
          class="mt-2 mb-5 text-center"
        >
          <h1 class="text-3xl mb-10 font-bold">Don't have a account?</h1>

          <div id="form-name" class="mt-4 grid grid-cols-2 gap-3">
            <label for="name" class="font-medium">Enter you name : </label>
            <input type="text" name="name" id="name" class="outline-1 mr-3" />
          </div>

          <br />

          <div id="fomr-email" class="mt-4 grid grid-cols-2 gap-3">
            <label for="email" class="font-medium">Enter your email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="outline-1 mr-3"
            />
          </div>

          <br />

          <div id="form-password" class="mt-4 grid grid-cols-2 gap-3">
            <label for="password" class="font-medium">password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="outline-1 mr-3"
            />
          </div>

          <br />

          <div id="form-confirmpassword" class="mt-4 grid grid-cols-2 gap-3">
            <label for="confirmPassword" class="font-medium"
              >Conform your password</label
            >
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              class="outline-1 mr-3"
            />
          </div>

          <br />

          <input
            type="submit"
            value="Register"
            class="border border-white rounded cursor-pointer mt-10 mb-3 px-3 py-1 bg-blue-700 text-white hover:bg-blue-600"
          />
        </form>
      </div>
    </main>
    <script>
      const popup = document.getElementById("popup");
      const dismissBtn = document.querySelector(".dismiss-btn");

      if (dismissBtn) {
        dismissBtn.addEventListener("click", () => {
          popup.remove();
        });
      }
    </script>
  </body>
</html>
