<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <main>
      <section>
        <div>
          Info of free plan
          <p>planned to do it later</p>
        </div>
      </section>
      <section>
        <form action="/" method="post">
          <input type="submit" value="submit" />
        </form>
      </section>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
