<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header class="">
      <nav
        class="flex justify-between items-center mt-2 px-3 border-b-2 border-red-900 py-3"
      >
        <div id="name" class="w-1/5 text-center font-medium px-3 py-0.5">
          <p>Url shortner</p>
        </div>
        <div id="search" class="w-3/5 text-center text-black">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="search"
            class="outline-1 w-[30vw] rounded-sm px-3 py-0.5 bg-[#D1D3E2] font-extralight"
          />
        </div>
        <div
          id="home page"
          class="w-1/5 text-center bg-blue-900 text-white px-3 py-0.5"
        >
          <p><a href="/">Go to home page</a></p>
        </div>
      </nav>
    </header>

    <!-- sidebar and table section -->
    <main class="flex">
      <aside class="h-screen bg-blue-900 w-1/5 py-0.5 font-medium text-white">
        <p class="font-light my-3 text-center">Menu</p>
        <div class="py-5">
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon
              name="analytics-outline"
              class="font-bold text-xl"
            ></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
            >
              <a href="">Total Urls</a></span
            >
          </p>
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon name="cash-outline" class="font-bold text-xl"></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
              ><a href="">Subscription Section</a></span
            >
          </p>
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon name="grid-outline" class="font-bold text-xl"></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
              ><a href="">Invoice Section</a></span
            >
          </p>
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon
              name="person-circle-outline"
              class="font-bold text-xl"
            ></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
            >
              <a href="">Profile Section</a></span
            >
          </p>
        </div>
      </aside>

      <section class="w-4/5 bg-white">
        <div id="heading" class="my-10 text-3xl font-extralight text-center">
          All your shorten Urls
        </div>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          <% if (data || data.length > 0) { %> <% data.forEach(items => { %>
          <div class="bg-blue-50 w-full rounded-sm">
            <div id="heading" class="text-xl font-medium font-sans px-5 py-3">
              <span>Short id :- </span> <span> <%= items.shortId %> </span>
            </div>
            <div id="info" class="px-5">
              <p class="my-2 text-light">
                Redirect Url :-
                <span class="text-blue-600"><%= items.redirectUrl %></span>
              </p>
              <p class="my-2 text-light">
                Created At :-
                <span class="text-blue-600"><%= items.createdAtIst %></span>
              </p>
              <button
                class="my-2 bg-blue-900 text-white px-3 py-0.5 cursor-pointer rounded-sm hover:rounded-2xl transition-all duration-150 ease-in-out"
              >
                Copy the url
              </button>
            </div>
          </div>
          <% }) %> <% } else {%>
          <div class="bg-red-200 text-red-900">No data found</div>
          <% }%>
        </div>
      </section>
    </main>
  </body>
</html>
